<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jacoli.roadsitesupervision">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".Upgrade.A"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/AppName"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar"
        tools:replace="android:label">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="${UMENG_MESSAGE_SECRET}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ServerAddressActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CommonActivity" />
        <activity android:name=".ProjectDetailActivity" />
        <activity android:name=".UnitProjectDetailActivity" />
        <activity android:name=".ComponentDetailActivity" />
        <activity android:name=".PZDetailActivity" />
        <activity android:name=".InspectionDetailActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".SamplingInspectionActivity" />
        <activity android:name=".UnitProjectDetailForInspectionActivity" />
        <activity android:name=".ProjectDetailForInspectionActivity" />
        <activity android:name=".AssignedMatterDetailActivity" />
        <activity android:name=".AssignedMatterReplyActivity" />
        <activity android:name=".AssignedMatterCreateActivity" />
        <activity android:name=".StaffsActivity" />
        <activity android:name=".SupervisionPatrol.SupervisionPatrolListActivity" />
        <activity android:name=".SupervisionPatrol.SupervisionPatrolCreatingActivity" />
        <activity android:name=".SupervisionPatrol.SupervisionPatrolProjectDetailActivity" />
        <activity android:name=".SupervisionPatrol.SupervisionPatrolUnitProjectDetailActivity" />

        <receiver android:name=".Upgrade.download.ApkInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity android:name=".SupervisionPatrol.SupervisionPatrolApprovalProcessActivity" />
        <activity android:name=".SupervisionPatrol.SupervisionPatrolNormalProcessActivity" />
        <activity android:name=".SupervisionPatrol.SupervisionPatrolNormalProcessReplyActivity" />
        <activity android:name=".SupervisionPatrol.CheckItemsSubSelectorActivity" />
        <activity android:name=".SupervisionPatrol.SelectPersonActivity" />
        <activity android:name=".SupervisionPatrol.CheckItemsMainSelectorActivity" />
        <activity android:name=".ProgressCheck.ProjectDetailActivity" />
        <activity android:name=".ProgressCheck.UnitProjectDetailActivity" />
        <activity android:name=".ProgressCheck.ComponentDetailActivity" />
        <activity android:name=".UserSystem.MainTabActivity" />
        <activity android:name=".MonitorMain.MonitorMainActivity" />
        <activity android:name=".DataMonitor.MonitorPointListActivity" />
        <activity android:name=".DataMonitor.MonitorSensorTypesActivity" />
        <activity android:name=".DataMonitor.MonitorSensorListActivity" />
        <activity android:name=".DataMonitor.MonitorAddSensorDataActivity" />
        <activity android:name=".Commons.WebViewActivity" />
        <activity android:name=".Commons.ImagePreviewActivity"></activity>
    </application>

</manifest>